<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Home</title>
</head>
<body>
  <%- include('./partials/nav_bar'); %>
  <h1>Messages</h1>
  <% if (currentUser) { %>
    <h3>Hello, <%= currentUser.username %>!</h3>
  <% } %>
  <% for (const message of messages) { %>
    <div class="message">
      <% if (currentUser && currentUser.membership_status === 'member') { %>
        <div class="author"><%= message.author.username %></div>
        <div class="timestamp"><%= message.timestamp_formatted %></div>
      <% } %>
      <div class="title"><%= message.title %></div>
      <div class="content"><%= message.content %></div>
      <% if (currentUser && currentUser.admin) { %>
        <form action="/delete-message" method="post">
          <input type="hidden" name="message" value="<%= message._id %>">
          <button type="submit" class="delete">DELETE</button>
        </form>
      <% } %>
    </div>
  <% } %>
</body>
</html>